<section class="hero-section">
  <div class="hero-bg"></div>

  <div class="hero-container">
    <div class="hero-texto">
      <h1 class="h2-semibold titulo">
        Tu agenda, tu ritmo, <span>tu negocio</span>
      </h1>
      <p class="body-large-regular subtitulo">
        Organiza citas, gestiona tu equipo y haz crecer tu negocio con AgendaSof.
      </p>
      <div class="hero-botones">
        <button class="btn-principal">Crea tu negocio</button>
        <button class="btn-secundario">  <span class="material-symbols-rounded">play_circle</span>Ver Demo</button>
      </div>
    </div>

    <div class="hero-imagenes" [ngClass]="layoutActual">
  <div class="caja" data-pos="1">
    <img [src]="imagenesActuales[0]" />
  </div>

  <div class="caja" data-pos="2">
    <img [src]="imagenesActuales[1]" />
  </div>

  <div class="caja" data-pos="3">
    <img [src]="imagenesActuales[2]" />
  </div>

  <div class="caja" data-pos="4">
    <img [src]="imagenesActuales[3]" />
  </div>
</div>

  </div>
</section>
